<h2> Goal: </h2>
<%= form_for goal_partial do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>


<h2> Destinations: </h2>
<p>
    <%= f.fields_for :destinations do |d| %>
    <%= d.label :location %>
    <%= d.text_field :location %>
    <!--
    <%= d.label :description %>
    <%= d.text_field :description %>
    <%= d.label :completed %>
    <%= d.check_box :completed %>
    <%= d.label :date_traveled%>
    <%= d.text_field :date_traveled %>
    -->
</p>
    <% end %>
<%= f.submit %>
    <% end %>