<h1>Let's Create a New Goal ... </h1>


<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>

<h2> Goal: </h2>
<%= form_for @goal do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<p>
<h2> Destinations: </h2>
    <%= f.fields_for :destinations do |d| %>
    <%= d.label :location %>
    <%= d.text_field :location %>
    <%= d.label :description %>
    <%= d.text_field :description %>
    <%= d.label :date_traveled%>
    <%= d.text_field :date_traveled %>
    <%= d.label :completed %>
    <%= d.check_box :completed %>
    <% end %>
</p>
<%= f.submit %>
    <% end %>
