<h1>new goal page</h1>


<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>




<%= form_for @goal do |f| %>
<%= f.label :Name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>


(later add ability to add destinations within goal form)
